<!DOCTYPE html>
<html lang="en">
<%- include('layouts/header'); -%>
   <body>
   <%- include('layouts/heading'); -%>
   <%- include('layouts/navbar'); -%>
   
   
      <div class="main">
         <h1>Check GEO Location</h1>  
         This application is meant to find out the best type of location for a house. 
         We can enter an address to the list of addresses.
         
         <h2>General Functionality</h2>
         <ul>
            <li>Add an address to the list</li>
            <li>Update/modify and delete the address.</li> 
            <li>Show information concerning the location.</li>
         </ul>
         
         This application will list the following information about your location:<br>
         <ul>
            <li>Distance to nearby nuclear power plant. </li>
            <li>if the location has PFS polution. </li>
            <li>distance to the closest primary school</li>
            <li>distance to the closest secondary school</li>
            <li>distance to the closest university</li>
            <li>Distance to hospital</li>
            <li>Distance to docter</li>
            <li>Distance to super market</li>
            <li>Distance to bakkery.</li>
      </ul>

      </div>
   <%- include('layouts/news'); -%>
   <%- include('layouts/footer'); -%>
   </body>
</html>